<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  @include('partials/email')
</head>
<body>

  <p>Ola pessoa!</p>

  <p>A criação de uma nova senha está quase pronta, clique no botão abaixo para criá-la.</p>

  <a href="{{link}}">Ativar minha conta</a>

</body>
</html>
