<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  @include('partials/email')
</head>
<body>

  <p>Bem vindo ao facebook!</p>

  <p>Seu cadastro esta quase pronto, cliue no botão abaixo para ativar sua conta.</p>

  <a href="{{link}}">Ativar minha conta</a>

</body>
</html>
